{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="box">
        <h1>Convertidor Unitario</h1>
        <div class="tabs">
            <a href="/" class="active">Longitud</a>
            <a href="/peso">Peso</a>
            <a href="/temperatura">Temperatura</a>
        </div>

        <form method="POST">
            <label>Ingrese la longitud</label>
            <input type="number" step="any" name="valor" required>

            <label>Unidad origen</label>
            <select name="de">
                <option>mm</option><option>cm</option><option>m</option>
                <option>km</option><option>in</option><option>ft</option>
                <option>yd</option><option>mi</option>
            </select>

            <label>Unidad destino</label>
            <select name="a">
                <option>mm</option><option>cm</option><option>m</option>
                <option>km</option><option>in</option><option>ft</option>
                <option>yd</option><option>mi</option>
            </select>

            <button type="submit">Convert</button>
        </form>
    </div>

    <div class="box">
        <h1>Unit Converter</h1>
        <div class="tabs">
            <a href="/" class="active">Longitud</a>
            <a href="/peso">Peso</a>
            <a href="/temperatura">Temperatura</a>
        </div>

        {% if resultado is not none %}
            <p>Resultado de tu cálculo</p>
            <<div class="result">{{ resultado }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}